---
import { Image } from "@astrojs/image/components";
import navIcon from "../assets/navIcon.png";

const leftSideItems = [
  { title: "PORTFOLIO", url: "/portfolio", color: "text-orange-400" },
  { title: "SERVICES", url: "/services", color: "text-red-400" },
];

const rightSideItems = [
  { title: "ABOUT ME", url: "/about-me", color: "text-blue-400" },
  { title: "CONTACT", url: "/contact", color: "text-green-400" },
];

const {
  url: { pathname },
} = Astro;
---

<header
  id="page-header"
  class="z-10 w-full py-12 text-white border-b border-transparent absolute top-0 bottom-auto w-100 justify-center"
>
  <nav class="w-100">
    <ul class="flex items-center justify-around">
      {
        leftSideItems.map(({ title, url, color }) => {
          const selected = url === pathname;

          return (
            <li class="inline-block">
              <a
                class={`text-sm ${
                  selected && `font-bold ${color}`
                } hover:font-bold duration-150 ease-in-out`}
                href={url}
                title={title}
              >
                {title}
              </a>
            </li>
          );
        })
      }
      <Image src={navIcon} alt="nav-icon" width={90} />
      {
        rightSideItems.map(({ title, url, color }) => {
          const selected = url === pathname;

          return (
            <li class="inline-block">
              <a
                class={`text-sm ${
                  selected && `font-bold ${color}`
                } hover:font-bold duration-150 ease-in-out`}
                href={url}
                title={title}
              >
                {title}
              </a>
            </li>
          );
        })
      }
    </ul>
    <!-- <button
        id="open-nav-button"
        type="button"
        class="btn lg:hidden"
        aria-label="Navigation"
      >
        <Icon pack="mdi" name="menu" class="h-8" />
      </button> -->

    <!-- <!-- <div id="menu-modal" class="hidden modal" aria-hidden="true">
      <div class="fixed inset-0 px-8 py-6 bg-default">
        <div role="dialog" aria-modal="true">
          <header class="text-right">
            <button
              id="close-nav-button"
              type="button"
              class="btn"
              aria-label="Close navigation"
            >
              <Icon pack="mdi" name="close" class="h-8" />
            </button>
          </header>
          <nav>
            <ul class="flex flex-col">
              {
                navItems.map(({ title, url }) => (
                  <li>
                    <a class="block py-4 text-xl text-center" href={url}>
                      {title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </div> -->
  </nav>
</header>

<script>
  import MicroModal from "micromodal";

  const menuModalId = "menu-modal";

  const menu = document.querySelector(`#${menuModalId} ul`);
  const openNavButton = document.querySelector("#open-nav-button");
  const closeNavButton = document.querySelector("#close-nav-button");

  const openMenu = () => {
    MicroModal.show(menuModalId, { disableScroll: true });
  };

  const closeMenu = () => {
    setTimeout(() => {
      MicroModal.close(menuModalId);
    }, 300);
  };

  openNavButton.addEventListener("click", openMenu);
  closeNavButton.addEventListener("click", closeMenu);

  menu.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).tagName === "A") {
      // closeMenu();
    }
  });
</script>

<style>
  a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .fixed-header {
    @apply fixed top-0 bottom-auto;
    @apply text-default bg-default border-default;
  }
  .modal.is-open {
    @apply block;
  }
</style>
