---
import { generateImage } from "astro-eleventy-img";
const widths = [450, 800, 1200, 1920];
const sizes = "100vw";
const { webp, avif, png } = generateImage("src/assets/render.png", {
  widths,
  formats: ["webp", "avif", "png"],
  outputDir: "public/assets/images/render",
  urlPath: "/assets/images/render",
});
const avifSrcset = avif.map(({ srcset }) => srcset).join(",");
const webpSrcset = webp.map(({ srcset }) => srcset).join(",");
const pngSrcset = png.map(({ srcset }) => srcset).join(",");
---

<div>
  <picture>
    <source type="image/avif" srcset={avifSrcset} {sizes} />
    <source type="image/webp" srcset={webpSrcset} {sizes} />
    <source type="image/jpeg" srcset={pngSrcset} {sizes} />
    <img
      src={png[3].url}
      width={png[3].width}
      height={png[3].height}
      alt="Render"
      class="object-cover w-full h-screen lg:h-full"
    />
  </picture>
</div>
